<h1>Seja bem-vindo(a) ao curso de Angular!</h1>
<h4 class="text-success">{{ anuncio }}</h4>
<div class="row">
  <div class="col">
    <app-card-produto
    [foto]="foto" [nomeProduto]="nomeProduto" [idProduto]="idProduto" [precoProduto]="precoProduto" [dataLimite]="dataLimite" [promocao]="promocao">

    </app-card-produto>
  </div>

  <div class="col">
    <app-card-produto
    foto="https://static.mundoeducacao.uol.com.br/mundoeducacao/2020/11/mapa-franca.png" nomeProduto="Viagem à França" idProduto="30" precoProduto=2500 dataLimite="2023-01-05" promocao="false">

    </app-card-produto>
  </div>
</div>

