<!-- <h1>Teste bootstrap</h1>
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/abbit.png" alt="">
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/abbit(1).png" alt="">
      </div>
    </div>
  </div>
</div>
 -->

<app-header></app-header>
<div class="container">
  <!-- <app-home></app-home> -->
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>

<!-- <router-outlet></router-outlet> -->
