<h1 class="my-3 text-primary">Editar produto</h1>
<div class="card shadow">
    <form action="" class="m-3">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" [(ngModel)]="produto.nome" class="form-control" placeholder="Digite o nome do produto">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="validade">Validade</label>
                    <input type="date" name="validade" [(ngModel)]="produto.validade" id="validade" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="valor">Valor</label>
                    <input type="number" name="valor"  [(ngModel)]="produto.valor" id="valor" placeholder="0.00" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-default" routerLink="/produtos">Voltar</button>
                <button class="btn btn-success float-right" (click)="salvarProduto()">Salvar</button>
            </div>
        </div>
    </form>
</div>
